<!-- base template, can be extended to create other pages while retaining common elements-->
<!DOCTYPE html>
<html>
  <head>
    <!-- returns title if title is passed in successfully -->
    {% if title %}
    <title>{{ title }} - Cool SQL app</title>
    <!-- otherwise, default page title is provided -->
    {% else %}
    <title>Welcome to this cool SQL app!</title>
    {% endif %}
  </head>
  <body>
    <!-- makeshift homepage bar -->
    <div>Cool SQL app: 
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr>

    <!-- fetch and render flash messages from Flask app -->
    <!-- get_flashed_messages() is function from Flask, presumed implictly passed in even without explicit defintition with render_template() calls -->
    <!-- of note, flashed messages are automatically cleared when get_flashed_messages() is called -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    <!-- filler block dubbed 'content', to be specified by 'child' templates -->
    {% block content %} {% endblock %}
  </body>
</html>